body{
    margin: 20px;
}

.button1 {
    background-color: rgb(209, 14, 14);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}
.button2 {
    background-color: rgb(14, 245, 53);
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}
#viewDiv{
    display: none;
}


/* This is our style for the invalid fields */
input:invalid {
    border-color: #900;
    background-color: #FDD;
}

input:focus:invalid {
    outline: none;
}

/* This is the style of our error messages */
.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: red;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}